
<h2 class="ui header teal center">
  Login to Reactivities
</h2>
<div class="content">
  <form class="ui form" #loginForm="ngForm" (ngSubmit)="handleSubmit($event, loginForm)">
  
    <div class="field" [ngClass]="{error: email.invalid && (email.touched || email.dirty)}">
      <input type="text" name="email" placeholder="Email" [(ngModel)]="loginFormValues.email" required #email="ngModel">
      <div class="ui pointing above prompt label" role="alert" aria-atomic="true" *ngIf="email.invalid && (email.dirty || email.touched) && email.errors.required">
        Email is required
      </div>
    </div>
  
    <div class="field" [ngClass]="{error: password.invalid && (password.touched || password.dirty)}">
      <input type="text" name="title" placeholder="Password" [(ngModel)]="loginFormValues.password" required #password="ngModel">
      <div class="ui pointing above prompt label" role="alert" aria-atomic="true" *ngIf="password.invalid && (password.dirty || password.touched) && password.errors.required">
        Password is required
      </div>
    </div>
    
    <sui-message class="error" *ngIf="submitError">
      <div class="header">
          {{ submitError }}
      </div>
      <p>Invalid username or password</p>
    </sui-message>

    <br>
  
    <button class="ui teal button fluid" type="submit" [ngClass]="{loading: submitting}" [disabled]="!loginForm.dirty || loginForm.form.invalid">Login</button>
    
  </form>
</div>