<div class="ui segments">
  <div class="ui segment">
    <div class="ui items">
      <div class="item">
        <div class="ui tiny image circular" style="margin-bottom: 3px;"><img [src]="findHost().image || '../../../assets/user.png'" /></div>
        <div class="content">
          <a class="header" (click)="onViewClick(activity)">{{activity.title}}</a>
          <div class="description">Hosted by <a routerLink="/profile/{{findHost().username}}">{{findHost().displayName}}</a></div>
          <div class="description" *ngIf="activity.isHost"><label class="ui label basic orange">You are hosting this activity</label></div>
          <div class="description" *ngIf="activity.isGoing && !activity.isHost"><label class="ui label basic green">You are going to this activity</label></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui segment">
    <i aria-hidden="true" class="clock icon"></i>{{activity.date | date:'h:mm a'}}
    <i aria-hidden="true" class="marker icon"></i>{{activity.venue}}, {{activity.city}}
  </div>
  <div class="ui segment secondary">
    <div role="list" class="ui horizontal list">
      <div role="listitem" class="item" *ngFor="let attendee of activity.attendees">
          <img [src]="attendee.image || '/assets/user.png'" class="ui avatar image" suiPopup [popupText]="attendee.displayName"/>
      </div>
    </div>
  </div>
  <div class="ui segment clearing">
    <span>{{activity.description}}</span>
    <button class="ui button right floated blue" (click)="onViewClick(activity)">View</button>
  </div>
</div>