<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui header left floated"><i aria-hidden="true" class="calendar icon"></i>Activities</div>
  </div>
  <div class="sixteen wide column">
    <sui-tabset>
      <div class="ui pointing secondary menu">
        <a class="item" suiTabHeader="future" (activate)="predicate = 'future'" (deactivate)="loadUserActivites()">Future Events</a>
        <a class="item" suiTabHeader="past" (activate)="predicate = 'past'" (deactivate)="loadUserActivites()">Past Events</a>
        <a class="item" suiTabHeader="hosting" (activate)="predicate = 'hosting'" (deactivate)="loadUserActivites()">Hosting</a>
      </div>
      <div class="ui tab" [ngClass]="{loading: loading}" suiTabContent="future">
        <div class="ui four cards" *ngIf="predicate === 'future'">
          <a class="ui card" *ngFor="let activity of userActivites" routerLink="/activities/{{activity.id}}">
            <img class="ui image" src="../../../assets/categoryImages/{{activity.category.toLowerCase()}}.jpg">
            <div class="content">
              <div class="header" style="text-align: center">{{activity.title}}</div>
              <div class="meta" style="text-align: center">
                <div class="">{{activity.date}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="ui tab" [ngClass]="{loading: loading}" suiTabContent="past">
        <div class="ui four cards" *ngIf="predicate === 'past'">
          <a class="ui card" *ngFor="let activity of userActivites" routerLink="/activities/{{activity.id}}">
            <img class="ui image" src="../../../assets/categoryImages/{{activity.category.toLowerCase()}}.jpg">
            <div class="content">
              <div class="header" style="text-align: center">{{activity.title}}</div>
              <div class="meta" style="text-align: center">
                <div class="">{{activity.date}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="ui tab" [ngClass]="{loading: loading}" suiTabContent="hosting">
        <div class="ui four cards" *ngIf="predicate === 'hosting'">
          <a class="ui card" *ngFor="let activity of userActivites" routerLink="/activities/{{activity.id}}">
            <img class="ui image" src="../../../assets/categoryImages/{{activity.category.toLowerCase()}}.jpg">
            <div class="content">
              <div class="header" style="text-align: center">{{activity.title}}</div>
              <div class="meta" style="text-align: center">
                <div class="">{{activity.date}}</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </sui-tabset>
  </div>
</div>