<div class="ui grid" *ngIf="(activity$ | async) as activity">
  <div class="column ten wide">
      <app-activity-detailed-header [activity]="activity" style="display: block; padding-bottom: 10px;"></app-activity-detailed-header>
      <app-activity-detailed-info [activity]="activity" style="display: block; padding-bottom: 10px;"></app-activity-detailed-info>
      <app-activity-detailed-chat></app-activity-detailed-chat>
  </div>
  <div class="column six wide">
    <app-activity-detailed-sidebar></app-activity-detailed-sidebar>
  </div>
</div>