<div class="ui grid" #activity>
  <div class="ten wide column">
    <div role="list" class="ui list"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="300"
      (scrolled)="handleNext()"
    >
      <app-activity-list></app-activity-list>
    </div>
    <!-- <button class="ui positive button right floated" (click)="handleNext()" [ngClass]="{loading: loadingNext}" [disabled]="pagination.totalPages === pagination.page + 1">Load More...</button> -->

  </div>
  <div class="six wide column">
    <app-activity-filters></app-activity-filters>
  </div>
  <div class="ten wide column" *ngIf="loadingNext">
      <div class="ui active text loader"></div>
  </div>
</div>