<ng-container *ngIf="(profileService.profile$ | async) as profile">
  <div class="ui grid">
    <div class="sixteen wide column" style="padding-bottom: 0">
      <div class="ui header left floated"><i aria-hidden="true" class="image icon"></i>Photos</div>
      <button *ngIf="this.profileService.isCurrentUser()" class="ui basic button right floated" (click)="togglePhotoMode()">{{addPhotoMode ? 'Cancel' : 'Add Photos'}}</button>
    </div>
    <div class="sixteen wide column">
      <app-photo-upload-widget (photoUploaded)="togglePhotoMode()" *ngIf="addPhotoMode; else showPhotos"></app-photo-upload-widget>
      <ng-template #showPhotos>
        <div class="ui five cards">
          <div class="ui card" *ngFor="let photo of profile.photos">
            <img class="ui image" [src]="photo.url">
            <div class="ui two fluid buttons">
              <button class="ui positive button" [ngClass]="{basic: !photo.isMain, loading: saving && saving.id === photo.id && saving.type === 'main'}" [disabled]="photo.isMain" (click)="setMain(photo)">Main</button>
              <button class="ui basic negative button" (click)="deletePhoto(photo)" [ngClass]="{loading: saving && saving.id === photo.id && saving.type === 'delete'}" [disabled]="photo.isMain"><i class="trash icon"></i></button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</ng-container>