<div class="ui segment">
  <div class="ui grid">

    <div class="twelve wide column">
      <div class="ui items">
        <div class="item">
          <div class="ui small avatar image">
            <img [src]="profile.image || '../../../assets/user.png'" />
          </div>
          <div class="content middle aligned">
            <h1 class="ui header">{{profile.displayName}}</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="four wide column">
      <div class="ui statistics">
        <div class="ui statistic">
          <div class="value">{{profile.followersCount}}</div>
          <div class="label">Followers</div>
        </div>
        <div class="ui statistic">
          <div class="value">{{profile.followingCount}}</div>
          <div class="label">Following</div>
        </div>
      </div>

      <div class="ui divider"></div>

      <div class="ui move reveal" *ngIf="!profileService.isCurrentUser()">
        <div class="ui visible content" style="width: 100%">
          <button class="ui fluid button fluid teal">{{profile.following ? 'Following' : 'Not following'}}</button>
        </div>
        <div class="ui hidden content">
          <button class="ui fluid basic button" [ngClass]="{red: profile.following, positive: !profile.following, loading: loading}" (click)="onFollowingClick(profile.following ? 'unfollow' : 'follow', profile.username)">{{profile.following ? 'Unfollow' : 'Follow'}}</button>
        </div>
      </div>

    </div>
  </div>
</div>