<div class="ui segment center aligned top attached inverted teal" style="border: none">
  <div class="ui header">
    Chat about this event
  </div>
</div>

<div class="ui attached segment">
  <div class="ui comments">

    <ng-container *ngIf="(activityService.activity$ | async) as activity">
      <div class="comment" *ngFor="let comment of activity.comments">
        <div class="avatar">
          <img [src]="comment.image || '../../../assets/user.png'" alt="">
        </div>
        <div class="content">
          <a class="author" routerLink="/profile/{{comment.username}}">{{comment.displayName}}</a>
          <div class="metadata">
            <div>{{comment.createdAt | timeAgo}}</div>
          </div>
          <div class="text">{{comment.body}}</div>
        </div>
      </div>
    </ng-container>

    <form class="ui reply form" #commentForm="ngForm" (ngSubmit)="submitComment(commentForm)">
      <div class="field" [ngClass]="{error: body.invalid && (body.touched || body.dirty)}">
        <textarea rows="2" [(ngModel)]="commentFormValues.body" #body="ngModel" name="body" placeholder="Add your comment"></textarea>
      </div>
      <button class="ui icon primary left labeled button" [ngClass]="{loading: loading}">
        <i aria-hidden="true" class="edit icon"></i>
        Add Reply
      </button>
    </form>

  </div>
</div>