<div class="ui segments clearing">
  <div class="ui segment basic attached top" style="padding: 0">
    <img src="../../../assets/categoryImages/{{activity.category}}.jpg" class="ui fluid image" />
    <div class="ui basic segment textSegment">
      <div class="items">
        <div class="item">
          <div class="content">
            <div class="ui huge header" style="color: white">{{activity.title}}</div>
            <p>{{activity.date}}</p>
            <p>Hosted by <strong>Bob</strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ui segment clearing bottom attached">
    <button class="ui button teal">Join Activity</button>
    <button class="ui button">Cancel attendance</button>
    <button class="ui button right floated orange">Manage Event</button>
  </div>
</div>