<div class="ui segments">
  <div class="ui segment top attached">
    <div class="ui grid">
      <div class="one wide column">
        <i aria-hidden="true" class="info icon large teal"></i>
      </div>
      <div class="fifteen wide column">
        <p>{{activity.description}}</p>
      </div>
    </div>
  </div>

  <div class="ui segment attached">
    <div class="ui middle aligned grid">
      <div class="one wide column">
        <i aria-hidden="true" class="calendar icon large teal"></i>
      </div>
      <div class="fifteen wide column">
        <span>{{activity.date}}</span>
      </div>
    </div>
  </div>

  <div class="ui segment attached">
    <div class="ui grid middle aligned">
      <div class="one wide column">
        <i aria-hidden="true" class="marker icon large teal"></i>
      </div>
      <div class="eleven wide column">
        <span>{{activity.venue}}, {{activity.city}}</span>
      </div>
    </div>
  </div>
</div>